<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__top">
      <p class="footer__site">VentIQ.RU</p>
      <div class="footer__logo-block">
        <a class="footer__logo" href="main.html"><img src="images/logo.jpg" alt="IQVent"></a>
      </div>
      <p class="footer__phone"><a href="tel:+78124254242">+7 812 425-4242</a></p>
    </div>
    <div class="footer__bottom">
      <p>ООО “Завод качественных конструкций”</p>
      <span class="footer__bottom-separator"></span>
      <p>Санкт-Петербург, ул.&nbsp;Ропшинская, д.&nbsp;1/32 лит.&nbsp;А</p>
      <span class="footer__bottom-separator"></span>
      <p>E-mail: <a href="mailto:4254242@oknaiq.ru">4254242@oknaiq.ru</a></p>
    </div>
  </div>
</footer>
