<header class="header">
  <div class="header__inner container">
    <div class="header__logo-block">
      <a class="header__logo" href="#top">
        <img src="images/slomiq.jpg" alt="SLOMIQ">
        ломаем с умом
      </a>
      <a class="header__phone" href="tel:+78124254242">+7 (812) 425-4242</a>
    </div>
    <button class="js-menu-opener header__menu-opener" type="button"><span></span></button>
    <div class="header__menu">
      <nav class="header__menu-list">
        <a class="header__menu-link" href="#services">УСЛУГИ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#why">ПОЧЕМУ МЫ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#photos">ГАЛЕРЕЯ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#reviews">ОТЫВЫ</a>
      </nav>
    </div>
  </div>
</header>