<header class="header">
  <div class="header__inner container">
    <div class="header__logo-block">
      <a class="header__logo" href="#top"><img src="images/logo.jpg" alt="SHUCO"></a>
      <a class="header__phone" href="tel:+78123181515">+7 (812) 318-1515</a>
    </div>
    <button class="js-menu-opener header__menu-opener" type="button"><span></span></button>
    <div class="header__menu">
      <nav class="header__menu-list">
        <a class="header__menu-link" href="#remont">РЕМОНТ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#calc">КАЛЬКУЛЯТОР</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#why">ПОЧЕМУ МЫ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#photos">ГАЛЕРЕЯ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#reviews">ОТЫВЫ</a>
        <span class="header__menu-separator"></span>
        <a class="header__menu-link" href="#video">ВИДЕО</a>
      </nav>
    </div>
  </div>
</header>