.main-banner
  align-items: center
  background-position: 50% 50%
  background-size: cover
  background-repeat: no-repeat
  background-color: #0e243d
  display: flex
  justify-content: center
  min-height: 215px

  @media(min-width: 1600px)
    height: 780px

  &__image
    max-width: 80%

    @media(min-width: 1600px)
      max-width: 1440px
