.popup-form
  border-radius: 6px
  display: none
  max-width: 600px
  width: 100%

  &.fancybox-content
    padding: 0

  &__title-block
    align-items: center
    background-color: #78b928
    display: flex
    justify-content: space-between
    padding: 10px 15px

  &__title
    color: #fff
    font-size: 18px
    font-weight: 700
    margin-bottom: 0
    margin-top: 0
    margin-right: 15px
    text-transform: uppercase

  &__close
    font-size: 30px
    line-height: 22px
    width: 30px
    height: 30px
    padding: 0 0 8px
    cursor: pointer
    transition: color .3s
    color: #fff
    border: 2px solid #fff
    border-radius: 50%
    background: none

  &__content
    padding: 15px

  &__row
    margin-bottom: 15px

  &__label
    display: block
    padding-bottom: 5px

  &__input
    width: 100%

  &__button
    background-color: #78b928
    border-radius: 4px
    border: none
    color: #fff
    cursor: pointer
    display: block
    font-size: 18px
    font-weight: 500
    height: 40px
    padding: 0
    text-align: center
    width: 100%
